kafkaJobProperties{
	kafkaCommon{
		bootstrap.servers="localhost:9092,localhost:9093,localhost:9094"
		schema.registry.url="http://localhost:8081"
		enable.monitoring=true
		input.filename="input.csv"
		output.filename="output.txt"
	}
	producerProperties{
		batch.size="5"
		interceptor.classes="io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor"
	}
	consumerProperties{
		group.id="kafka-file-processing"
		enable.auto.commit="true"
		auto.commit.interval.ms="10000"
		session.timeout.ms="20000"
		consumer.timeout.ms="2000"
		specific.avro.reader="true"
		auto.offset.reset="earliest"
		interceptor.classes="io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor"
	}
}

